{% extends 'base.html' %}

{% block content %}


<table class="table-matches">
    <thead>
        <tr>
            <th class="table-col-match-date">Date of match</th>
            <th>Home</th>
            <th>vs</th>
            <th>Away</th>

        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr>
            <td class="table-col-match-date">{{match.match_date.strftime("%d-%b-%y")}}</td>
            <td class="table-col-teams table-col-teams__clickable tooltip"><a
                    href="/matches/{{teams[match.home_team_id-1].team_name}}/team_matches">{{teams[match.home_team_id-1].team_name}}</a>
                <span class="tooltiptext">View teams matches</span>
            </td>

            {% if match.match_result %}
            <td>{{match.match_result}}</td>
            {% else %}
            <td>vs</td>
            {% endif %}

            <td class="table-col-teams table-col-teams__clickable tooltip"><a
                    href="/matches/{{teams[match.away_team_id-1].team_name}}/team_matches">
                    {{teams[match.away_team_id-1].team_name}}</a>
                <span class="tooltiptext">View teams matches</span>
            </td>


        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}