<!DOCTYPE html>
<html>

<head></head>

  <body>
   
    <header>
      <h1 class="title">Scottish Football (Scoring App)</h1>
      <h2 class="subtitle">Scottish Premiership League Table</h2>
      <nav class="nav">
        <ul>
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/leagues">League Table</a></li>
          <li><a class="nav-link" href="/matches/show">Matches</a></li>
          <li><a class="nav-link" href="/admin">Administration</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      {% block content %}
      {% endblock %}
    </main>
   


  </body>

</html>