{% extends 'base.html' %}

{% block content %}

<section class="main-page-section">
    <h1>Scottish Premiership Sports Scoring App</h1>
    <h2>About:</h2>

    <h4><span>Brief</span></h4>
    <p>
        Build an app that lets a sports fan keep track of their favourite sports league. <br>

        As a huge fan of [your sport], you want to stay up to date with the league. <br>
        You're interested to see which team leads the table and who won the latest games/matches/fixtures/bouts/…
    </p>

    <h3><span>MVP</span></h3>
    <p>The app should allow the user to create, edit and remove teams in the league <br>
        The user should be able to create new games<br>
        There should be a way to display all the games for a team and all the teams involved in a game<br>
        The app should display if a game was won or lost
    </p>

    <h3><span>Extensions (Possible)</span></h3>
    <p>
        Create a league table to see who is on top of the league <br>
        Add players to teams and let them have game stats (points won, fouls, etc.) <br>
        Anything else you can think of
    </p>

</section>

{% endblock %}